<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bookstore.dao.SellerDao">
    <parameterMap id="Seller" type="com.bookstore.pojo.Seller"/>
    <select id="findSeller" resultType="Seller">
        select * from seller
    </select>
    <select id="findSellerById" parameterType="int" resultType="Seller">
        select * from seller where seller_id = #{seller_id}
    </select>
    <insert id="insertSeller" parameterMap="Seller" >
      insert into seller values(#{seller_id},#{seller_name},#{pwd},#{seller_address},#{seller_phone})
    </insert>
    <update id="updateSeller" parameterType="Seller">
        update
        seller
        set
        <if test="seller_name!=null">
            seller_name = #{seller_name},
        </if>
        <if test="pwd!=null">
            pwd = #{pwd},
        </if>
        <if test="zip!=null">
            zip = #{zip}
        </if>
        <if test="seller_address!=null">
            seller_address = #{seller_address}
        </if>
        <if test="seller_phone!=null">
            seller_phone = #{seller_phone}
        </if>
        where
        seller_id = #{seller_id}
    </update>
    <delete id="deleteSeller" parameterType="int">
        delete from seller where seller_id = #{seller_id}
    </delete>
</mapper>